.sidebar-nav {
  padding-top: 16px;
  background: transparent;
}

.sidebar-nav a[mat-list-item] {
  color: #fff !important;
  font-weight: 500;
  font-size: 15px;
  padding: 12px 20px;
  border-radius: 6px;
  margin: 4px 8px;
  display: flex;
  align-items: center;
  transition: background 0.2s, color 0.2s;
  text-decoration: none;
}

.sidebar-nav a[mat-list-item]:hover,
.sidebar-nav a[mat-list-item].active {
  background-color: #334155;
  color: #ffca28 !important;
}

.sidebar-nav a[mat-list-item].active {
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(51, 65, 85, 0.08);
}

.sidebar-nav a mat-icon {
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
}